<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs')%>
<body class="page-index">

<%- include('partials/navbar.ejs')%>

<%- include('sections/hero.ejs')%>

  <main id="main">

<%- include('sections/choose.ejs')%>

<%- include('sections/ourservices.ejs')%>

<%- include('sections/calltoaction.ejs')%>

<%- include('sections/features.ejs')%>

<%- include('sections/recentblogs.ejs')%>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <%- include('sections/footer.ejs')%>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <%- include('partials/footer.ejs')%>

</body>

</html>